@media only screen and (max-width: 1100px) {
	.our-contact-list__heading {
		font-size: 18/16*1rem;
	}

	.our-contact-list__text {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 985px) {
	.our-contact-list {
		justify-content: space-between;
		width: 95%;
	}

	.our-contact-list__item {
		width: 49%;
		margin-right: 0;
	}
	.our-contact-list__heading {
		display: block;
		font-size: 1rem;
		margin-bottom: 5px;
	}
	.our-contact-list__text {
		display: block;
		font-size: 0.9rem;
	}
}

@media only screen and (max-width: 650px) {
	.our-contact-list {
		margin-left: 20%;
		margin-top: 30px;
	}

	.our-contact-list__item {
		width: 100%;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 550px) {
	.our-contact-list {
		margin-left: 10%;
	}
}

@media only screen and (max-width: 767px) {
    .contacts__tabs {
        flex-direction: column;
    }
    .contacts__tab {
        width: 100%;
    }
    .contacts__heading {
        margin-top: 100px;
    }
}//mobile