$filter-gray: #7F7F7F;

.filter {
	position: relative;
    padding-top: 25px;

    &-content {
		position: relative;
        width: 100%;
        padding-top: 37px;
        padding-bottom: 40px; 
        border: 1px solid $grey;
        border-radius: 5px;
        box-sizing: border-box;   
    }

    &__heading {
    	color: $filter-gray;
    	font-size: 24/16*100%;
    	text-align: center;
    	margin-bottom: 45px;
    }
}

.filter-parameters {
	&-wrap {
		width: 1020/1200*100%;
		margin: 0 auto;
		display: flex;
		/*justify-content: space-around;*/
	}

	&-list {
		&__text {
			font-size: 12/16*1rem;
			color: #000;
			text-align: center;
		}
	}
}